
.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

.flexOne {
    display: flex; 
  }
  
  .flexOne > .square {
    
    background-color: #73dab2;
    margin-right: 5px; 
  }

  .flexTwo {
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
  }
  
  .flexTwo >.square {
   
    background-color:#73dab2;
    margin: 2px; 
    
  }

  .flexThree {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    justify-content: left;
  }
  
  .flexThree > .square {
    background-color: #73dab2;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flexThree > .square span {
    font-size: 20px;
    color: white;
  }

  .flexFour {
    display: flex;
    flex-wrap: wrap;
    width: 350px; 
    margin-top: 20px;
  }
  
  .flexFour > .square {
    width: 100px;
    height: 100px;
    background-color: #3d8b6d; /* Change the background color of the squares */
    margin: 5px; /* Add a 5-pixel margin to the squares */
  }

  .flexFive {
    display: flex;
    width: 350px;
    margin-top: 20px;
  }
  
  .item {
    background-color: #0b6643;
    width: 100px;
    height: 100px;
    margin: 2px;
  }
  
  #grow {
    flex-grow: 2;
  }

  .flexSix {
    display: flex;
    height: 400px;
    width: 500px;
    background-color: #f1f1f1;
    flex-direction: column;
    margin-top: 20px;
  }
  .flexSix > .one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #d6d6d6;
  } 
  .flexSix > .two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #d6d6d6;
    margin-top: 10px;
  }
  .flexSix > .three {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: #d6d6d6;
    margin-top: 10px;
  }
   
  .flexSeven {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 500px;
    margin-top: 20px;
  }

  .flexSeven > .one {
    display: flex;
    flex-direction: column;
    justify-content: center
  } 

  .flexSeven > .two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
    
    
  } 
  .flexSeven > .three {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  } 

  .flexSeven > .four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  } 

  .flexEight {
    display: flex;
    height: 400px;
    width: 300px;
    background-color: #eeeeee;
    margin-top: 20px;
  }
  .flexEight > .one   {
    display: flex;
    align-items: center;

  }
  .flexEight > .two  {
    display: flex;
    align-items: flex-end;

  }
  
  .flexEight > .three  {
    display: flex;
    align-items: flex-start;

  }

  .flexNine {
    display: flex;
    width: 450px;
    height: 250px;
    background-color: #eeeeee;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
  }
  .flexNine > .square {
    width: 100px;
    height: 100px;
    background-color:#73dab2;
    margin: 2px;
  }
  .flexNine >  #special {
    align-self: flex-end;
  }

  